* {
   font-family: 'Roboto', sans-serif;
}

a {
   color: white;
}

body {
   background-color: rgba(198,235,237,0.3);
   padding-top: 70px;
}

.customFontNav {
   font-family: 'Dancing Script', cursive;
}

.bgNavbar {
   background-color: #A0DDE0;
}

#about {
   min-height: calc(100vh - 70px);
   background-color: #56C0C4;
}

.aboutImageCol {
   animation-name: appearX;
   animation-duration: 1s;
}

.aboutTextCol {
   animation-name: appearX;
   animation-timing-function: ease;
   animation-duration: 1.3s;
}

#edgarAboutPhoto {
   height: 70%;
}

.aboutMeText {
   color: #276b6d;
}

.btnContact {
   background-color: rgb(198,235,237);
   color: black;
}

.btnContact:hover {
   background-color: rgb(220, 235, 236);
}

.list-group-item {
   border: 0;
   background-color: transparent;
}

.list-group-item:hover {
   background-color: #3b8689;
}

.iconSkill {
   height: 100px;
}

.bgDisabled {
   background-color: rgba(0, 0, 0, 0.4);
}

.bgProject {
   background-color: #A0DDE0;
}

.bgJava {
   background-color: #e0a3a0;
}

.bgCSS {
   background-color: #86b8de;
}

.bgJS {
   background-color: #dbe0a0;
}

.bgBootstrap {
   background-color: #b1a0e0;
}

.iconLanguage {
   height: 50px;
}

.formContainer {
   background-color: #56C0C4;
}

.hide {
   display: none;
}


/* Transitions */

.hiddenSection {
   opacity: 0;
   transition: all 1.5s;
}

.hiddenProject {
   opacity: 0;
   transform: translatey(-20%);
   transition: all 1s;
}

.hiddenSkill {
   opacity: 0;
   filter: blur(5px);
   transform: translatex(-100%);
   transition: all 1s;
}

.show {
   opacity: 1;
}

.showX {
   opacity: 1;
   filter: blur(0px);
   transform: translatex(0%);
}

.showY {
   opacity: 1;
   transform: translatey(0%);
}


@keyframes appearX{
   from{
      opacity: 0;
      transform: translatex(-100%);
   }

   to {
      opacity: 1;
      transform: translatex(0px);
   }
}